html {
/*  max-width: 15rem;*/
  margin: 0 auto;
}
html,
body,
p,
div,
span,
img {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:link,
a:active {
  color: #000;
}
.head {
  text-align: center;
  position: relative;
  width: 100%;
  height: 4.2rem;
  background: url(../img/friendcircle-banner.png) no-repeat center;
  background-size: cover;
  background-size: 100% ;
}
.head img {
  width: 0.96rem;
  line-height: 0.96rem;
  border: 1px solid #fff;
  border-radius: 0.08rem;
}
.local {
  position: absolute;
  bottom: 0.32rem;
  right: 0.32rem;
}
.local span {
  color: #fff;
  font-size: 0.32rem;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px;
}
.mess {
  padding: 0.32rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #F7F7F7;
}
.left {
  width: 1.12rem;
}
.left img {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.08rem;
}
.right {
  margin-left: 0.16rem;
}
.nickname {
  font-size: 0.3rem;
  color: #41454D ;
  font-weight: bold;
}
.nickname span {
  background: #FFF0F0;
}
.content {
  font-size: 0.28rem;
  color: #41454D;
  margin-top: 0.16rem;
}
.content .share {
  background: #F7F7F7;
  padding: 0.12rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
}
.imgs {
  width: 1.12rem;
}
.imgs img {
  width: 0.8rem;
  height: 0.8rem;
}
.text {
  margin-left: 0.12rem;
}
.icon {
  margin-top: 0.24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  font-size: 0.24rem;
  color: #80858C;
}
.glyphicon {
  margin-right: 0.08rem;
  margin-left: 0.6rem;
}
.glyphicon:first-of-type {
  margin-left: 0;
}
.time {
  margin-top: 0.24rem;
  font-size: 0.24rem;
}
.comment {
  margin-top: 0.16rem;
  font-size: 0.28rem;
}
.comment p {
  margin-bottom: 0.08rem;
}
.comment span {
  color: #5BAFFF;
}
.look,
.shou {
  font-size: 0.24rem;
  color: #acb1b7;
  margin-top: 0.08rem;
}
.look span,
.shou span {
  color: #acb1b7;
  margin-left: 0.08rem;
}
.first,
.second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
}
.child img {
  margin: 0 0.08rem 0.08rem 0;
  width: 2.68rem;
  height: 2.68rem;
}
.hide {
  display: none;
}
